<div fxLayout="column">
  <div class="background">
    <div class="h" fxLayoutAlign="start center">
      <h1>Employees</h1>
    </div>

    <div class="mat-elevation-z8" style="padding: 20px">
      <mat-table #table [dataSource]="dataSource">

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
          <mat-cell (click)="detail(element.id)" *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <!-- First name Column -->
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> First name</mat-header-cell>
          <mat-cell (click)="detail(element.id)" *matCellDef="let element"> {{element.firstName}} </mat-cell>
        </ng-container>

        <!-- Surname Column -->
        <ng-container matColumnDef="surname">
          <mat-header-cell *matHeaderCellDef> Surname</mat-header-cell>
          <mat-cell (click)="detail(element.id)" *matCellDef="let element"> {{element.surname}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  </div>
</div>
